body{
    background-color: #55A5E8;
    font-family: "Times New Roman";
}
h2{
    text-align: center;
    padding:80px;
    font-size: 50px;
    color: #ffffff;
    font-family:"幼圆";
}
.container{
    width: 1000px;
    margin:0 auto;
    /*background: rgba(255,255,255,0.5);*/
}
.index{
    position: relative;
    margin: 0 auto;
    width:600px;
    height: 560px;
    background: url("../img/Megalopolis_metropolis3.png") ;
    background-size:cover;
}
.num a, .building a{
    position: absolute;
    display: block;
    cursor: pointer;
    margin:0 auto;
    text-decoration: none;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
}
.text{
    color: #ffffff;
    display: block;
    border:2px solid #ffffff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 26px;
    text-align: center;
    margin:0 auto;
}
 a:hover .text{
    border-color: #000;
    color: #000;
}
.building-num1{
    left: 36px;
    top: 188px;
    width: 68px;
    height: 200px;;
}
.building-num2{
    left: 102px;
    top: 121px;
    width: 97px;
    height: 166px;
}
.building-num3{
    top: 22px;
    left: 223px;
    width: 76px;
    height: 154px;
}
.building-num4{
    top: 22px;
    left: 325px;
    width: 122px;
    height: 82px;
}
.building-num5{
    top: 107px;
    left: 474px;
    width: 89px;
    height: 173px;
}
.building-num6{
    top: 172px;
    left: 407px;
    width: 66px;
    height: 113px;
}
.building-num7{
    top: 119px;
    left: 300px;
    width: 103px;
    height: 199px;
}
.building-num8{
    top: 199px;
    left: 201px;
    width: 87px;
    height: 106px;
}
.building-num9{
    top: 321px;
    left: 106px;
    width: 224px;
    height: 179px;
}
.building-num10{
    top: 304px;
    left: 332px;
    width: 212px;
    height: 227px;
}
.building{
    position: absolute;
    background: rgba(0,0,0,0.5);
    left: -230px;
    width: 1000px;
    padding: 30px;
    border:1px solid #1C93F6;
}
.building img{
    margin-left: 314px;
    height: 580px;
    width: 450px
}
.building .close{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    color: #ffffff;
    font-size: 35px;
    text-align: right;
    right: -6px;
    top: -11px;
}
.building a{
    height: 39px;
    width: 235px;
    left: 453px;
}
.building a:hover .text{
    color: #1C93F6;
    border:2px solid #1C93F6;
}
.building .text{
    color: #000;
    border:2px solid #000;
    width: 25px;
    height: 25px;
    font-size: 23px;
}
.floor-num1{
    top: 470px;
}
.floor-num2{
    top: 430px;
}
.floor-num3{
    top: 387px;
}
.floor-num4{
    top: 345px;
}
.floor-num5{
    top: 305px;
}
.floor-num6{
    top: 263px;
}
.floor-num7{
    top: 216px;
}
.floor-num8{
    top: 176px;
}
.floor-num9{
    top: 135px;
}
.floor-num10{    top: 92px;
}
.building .floor-under{
    height: 82px;
    top: 526px;
    left: 407px;
    width: 387px;
}
.building .floor-under:hover .text{
    border:none;
}
.floor-under .text{
    width:83px;
    border:none;
    line-height: 83px;
}
.none{
    display: none;
}
.system{
    border-radius: 6px;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    padding: 15px 30px;
    font-size: 20px;
    position: absolute;
    right: 100px;
    text-decoration: none;
}
.system:hover{
    font-weight:bold;
    background: #ffffff;
    color: #1C93F6;
}