body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1890px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u0_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1880px;
    height: 822px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(119, 119, 119, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u0 {
    position: absolute;
    left: 10px;
    top: 79px;
    width: 1880px;
    height: 822px;
}

#u1 {
    position: absolute;
    left: 2px;
    top: 403px;
    width: 1876px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 505px;
    height: 822px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(119, 119, 119, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2 {
    position: absolute;
    left: 10px;
    top: 79px;
    width: 505px;
    height: 822px;
}

#u3 {
    position: absolute;
    left: 2px;
    top: 403px;
    width: 501px;
    visibility: hidden;
    word-wrap: break-word;
}

#u4_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 802px;
    height: 822px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u4 {
    position: absolute;
    left: 514px;
    top: 79px;
    width: 802px;
    height: 822px;
}

#u5 {
    position: absolute;
    left: 2px;
    top: 403px;
    width: 798px;
    visibility: hidden;
    word-wrap: break-word;
}

#u6_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 482px;
    height: 397px;
}

#u6 {
    position: absolute;
    left: 16px;
    top: 136px;
    width: 482px;
    height: 397px;
}

#u7 {
    position: absolute;
    left: 2px;
    top: 190px;
    width: 478px;
    visibility: hidden;
    word-wrap: break-word;
}

#u8_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 505px;
    height: 2px;
}

#u8 {
    position: absolute;
    left: 10px;
    top: 549px;
    width: 504px;
    height: 1px;
}

#u9 {
    position: absolute;
    left: 2px;
    top: -8px;
    width: 500px;
    visibility: hidden;
    word-wrap: break-word;
}

#u10_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 178px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}

#u10 {
    position: absolute;
    left: 10px;
    top: 96px;
    width: 178px;
    height: 30px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}

#u11 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 178px;
    word-wrap: break-word;
}

#u12_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 591px;
    height: 399px;
}

#u12 {
    position: absolute;
    left: 526px;
    top: 138px;
    width: 591px;
    height: 399px;
}

#u13 {
    position: absolute;
    left: 2px;
    top: 192px;
    width: 587px;
    visibility: hidden;
    word-wrap: break-word;
}

#u14_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 165px;
    height: 709px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 24px;
}

#u14 {
    position: absolute;
    left: 1134px;
    top: 121px;
    width: 165px;
    height: 709px;
    font-size: 24px;
}

#u15 {
    position: absolute;
    left: 2px;
    top: 346px;
    width: 161px;
    visibility: hidden;
    word-wrap: break-word;
}

#u16_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 168px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 24px;
    text-align: center;
}

#u16 {
    position: absolute;
    left: 1137px;
    top: 121px;
    width: 168px;
    height: 30px;
    font-size: 24px;
    text-align: center;
}

#u17 {
    position: absolute;
    left: 0px;
    top: 1px;
    width: 168px;
    word-wrap: break-word;
}

#u18_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 22px;
    height: 42px;
}

#u18 {
    position: absolute;
    left: 1205px;
    top: 172px;
    width: 22px;
    height: 42px;
}

#u19 {
    position: absolute;
    left: 2px;
    top: 13px;
    width: 18px;
    visibility: hidden;
    word-wrap: break-word;
}

#u20_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 118px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
}

#u20 {
    position: absolute;
    left: 1158px;
    top: 219px;
    width: 118px;
    height: 23px;
    font-size: 16px;
    text-align: center;
}

#u21 {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 118px;
    word-wrap: break-word;
}

#u22_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 22px;
    height: 39px;
}

#u22 {
    position: absolute;
    left: 1205px;
    top: 253px;
    width: 22px;
    height: 39px;
}

#u23 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 18px;
    visibility: hidden;
    word-wrap: break-word;
}

#u24_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 118px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
}

#u24 {
    position: absolute;
    left: 1161px;
    top: 292px;
    width: 118px;
    height: 23px;
    font-size: 16px;
    text-align: center;
}

#u25 {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 118px;
    word-wrap: break-word;
}

#u26_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 118px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
}

#u26 {
    position: absolute;
    left: 1163px;
    top: 367px;
    width: 118px;
    height: 19px;
    font-size: 16px;
    text-align: center;
}

#u27 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 118px;
    word-wrap: break-word;
}

#u28_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 37px;
}

#u28 {
    position: absolute;
    left: 1207px;
    top: 331px;
    width: 20px;
    height: 37px;
}

#u29 {
    position: absolute;
    left: 2px;
    top: 10px;
    width: 16px;
    visibility: hidden;
    word-wrap: break-word;
}

#u30_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 23px;
    height: 30px;
}

#u30 {
    position: absolute;
    left: 1205px;
    top: 406px;
    width: 23px;
    height: 30px;
}

#u31 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 19px;
    visibility: hidden;
    word-wrap: break-word;
}

#u32_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 137px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
}

#u32 {
    position: absolute;
    left: 1154px;
    top: 436px;
    width: 137px;
    height: 28px;
    font-size: 16px;
    text-align: center;
}

#u33 {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 137px;
    word-wrap: break-word;
}

#u34_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 31px;
}

#u34 {
    position: absolute;
    left: 1198px;
    top: 474px;
    width: 37px;
    height: 31px;
}

#u35 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 33px;
    visibility: hidden;
    word-wrap: break-word;
}

#u36_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 137px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
}

#u36 {
    position: absolute;
    left: 1149px;
    top: 512px;
    width: 137px;
    height: 28px;
    font-size: 16px;
    text-align: center;
}

#u37 {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 137px;
    word-wrap: break-word;
}

#u38_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 231px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u38 {
    position: absolute;
    left: 522px;
    top: 95px;
    width: 231px;
    height: 30px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u39 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 231px;
    word-wrap: break-word;
}

#u40_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u40 {
    position: absolute;
    left: 147px;
    top: 239px;
    width: 37px;
    height: 36px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u41 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u42_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u42 {
    position: absolute;
    left: 220px;
    top: 444px;
    width: 37px;
    height: 36px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u43 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u44_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u44 {
    position: absolute;
    left: 51px;
    top: 317px;
    width: 37px;
    height: 36px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u45 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u46_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u46 {
    position: absolute;
    left: 225px;
    top: 316px;
    width: 37px;
    height: 36px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u47 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u48_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u48 {
    position: absolute;
    left: 375px;
    top: 323px;
    width: 37px;
    height: 36px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u49 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u50_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u50 {
    position: absolute;
    left: 388px;
    top: 219px;
    width: 37px;
    height: 36px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u51 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u52_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u52 {
    position: absolute;
    left: 242px;
    top: 219px;
    width: 37px;
    height: 36px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u53 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u54_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u54 {
    position: absolute;
    left: 366px;
    top: 447px;
    width: 37px;
    height: 36px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u55 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u56_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u56 {
    position: absolute;
    left: 67px;
    top: 452px;
    width: 37px;
    height: 36px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u57 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    white-space: nowrap;
}

#u58_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 153px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u58 {
    position: absolute;
    left: 16px;
    top: 558px;
    width: 153px;
    height: 30px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u59 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 153px;
    word-wrap: break-word;
}

#u60_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 617px;
    height: 2px;
}

#u60 {
    position: absolute;
    left: 514px;
    top: 550px;
    width: 616px;
    height: 1px;
}

#u61 {
    position: absolute;
    left: 2px;
    top: -8px;
    width: 612px;
    visibility: hidden;
    word-wrap: break-word;
}

#u62_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 121px;
    height: 24px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u62 {
    position: absolute;
    left: 520px;
    top: 567px;
    width: 121px;
    height: 24px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u63 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 121px;
    white-space: nowrap;
}

#u64_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u64 {
    position: absolute;
    left: 524px;
    top: 620px;
    width: 91px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u65 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u66_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 17px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u66 {
    position: absolute;
    left: 685px;
    top: 623px;
    width: 17px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u67 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 17px;
    white-space: nowrap;
}

#u68_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u68 {
    position: absolute;
    left: 675px;
    top: 659px;
    width: 15px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u69 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    visibility: hidden;
    white-space: nowrap;
}

#u70_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 127px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u70 {
    position: absolute;
    left: 524px;
    top: 656px;
    width: 127px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u71 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 127px;
    white-space: nowrap;
}

#u72 {
    position: absolute;
    left: 530px;
    top: 762px;
    width: 225px;
    height: 73px;
}

#u73_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 27px;
}

#u73 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 27px;
}

#u74 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 44px;
    visibility: hidden;
    word-wrap: break-word;
}

#u75_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 27px;
}

#u75 {
    position: absolute;
    left: 48px;
    top: 0px;
    width: 55px;
    height: 27px;
}

#u76 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 51px;
    word-wrap: break-word;
}

#u77_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 59px;
    height: 27px;
}

#u77 {
    position: absolute;
    left: 103px;
    top: 0px;
    width: 59px;
    height: 27px;
}

#u78 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 55px;
    word-wrap: break-word;
}

#u79_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 58px;
    height: 27px;
}

#u79 {
    position: absolute;
    left: 162px;
    top: 0px;
    width: 58px;
    height: 27px;
}

#u80 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 54px;
    word-wrap: break-word;
}

#u81_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 41px;
}

#u81 {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 48px;
    height: 41px;
}

#u82 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 44px;
    word-wrap: break-word;
}

#u83_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 41px;
}

#u83 {
    position: absolute;
    left: 48px;
    top: 27px;
    width: 55px;
    height: 41px;
    color: #009900;
}

#u84 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 51px;
    word-wrap: break-word;
}

#u85_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 59px;
    height: 41px;
}

#u85 {
    position: absolute;
    left: 103px;
    top: 27px;
    width: 59px;
    height: 41px;
    color: #FF0000;
}

#u86 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 55px;
    word-wrap: break-word;
}

#u87_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 58px;
    height: 41px;
}

#u87 {
    position: absolute;
    left: 162px;
    top: 27px;
    width: 58px;
    height: 41px;
    color: #008000;
}

#u88 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 54px;
    word-wrap: break-word;
}

#u89 {
    position: absolute;
    left: 749px;
    top: 762px;
    width: 225px;
    height: 73px;
}

#u90_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 27px;
}

#u90 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 27px;
}

#u91 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 44px;
    word-wrap: break-word;
}

#u92_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 27px;
}

#u92 {
    position: absolute;
    left: 48px;
    top: 0px;
    width: 55px;
    height: 27px;
}

#u93 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 51px;
    word-wrap: break-word;
}

#u94_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 59px;
    height: 27px;
}

#u94 {
    position: absolute;
    left: 103px;
    top: 0px;
    width: 59px;
    height: 27px;
}

#u95 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 55px;
    word-wrap: break-word;
}

#u96_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 58px;
    height: 27px;
}

#u96 {
    position: absolute;
    left: 162px;
    top: 0px;
    width: 58px;
    height: 27px;
}

#u97 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 54px;
    word-wrap: break-word;
}

#u98_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 41px;
}

#u98 {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 48px;
    height: 41px;
    color: #008000;
}

#u99 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 44px;
    word-wrap: break-word;
}

#u100_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 41px;
}

#u100 {
    position: absolute;
    left: 48px;
    top: 27px;
    width: 55px;
    height: 41px;
    color: #008000;
}

#u101 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 51px;
    word-wrap: break-word;
}

#u102_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 59px;
    height: 41px;
}

#u102 {
    position: absolute;
    left: 103px;
    top: 27px;
    width: 59px;
    height: 41px;
    color: #008000;
}

#u103 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 55px;
    word-wrap: break-word;
}

#u104_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 58px;
    height: 41px;
}

#u104 {
    position: absolute;
    left: 162px;
    top: 27px;
    width: 58px;
    height: 41px;
    color: #008000;
}

#u105 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 54px;
    word-wrap: break-word;
}

#u106 {
    position: absolute;
    left: 968px;
    top: 762px;
    width: 167px;
    height: 73px;
}

#u107_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 27px;
}

#u107 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 27px;
}

#u108 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 44px;
    word-wrap: break-word;
}

#u109_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 27px;
}

#u109 {
    position: absolute;
    left: 48px;
    top: 0px;
    width: 55px;
    height: 27px;
}

#u110 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 51px;
    word-wrap: break-word;
}

#u111_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 59px;
    height: 27px;
}

#u111 {
    position: absolute;
    left: 103px;
    top: 0px;
    width: 59px;
    height: 27px;
}

#u112 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 55px;
    word-wrap: break-word;
}

#u113_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 41px;
}

#u113 {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 48px;
    height: 41px;
    color: #008000;
}

#u114 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 44px;
    word-wrap: break-word;
}

#u115_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 41px;
}

#u115 {
    position: absolute;
    left: 48px;
    top: 27px;
    width: 55px;
    height: 41px;
    color: #008000;
}

#u116 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 51px;
    word-wrap: break-word;
}

#u117_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 59px;
    height: 41px;
}

#u117 {
    position: absolute;
    left: 103px;
    top: 27px;
    width: 59px;
    height: 41px;
    color: #FF0000;
}

#u118 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 55px;
    word-wrap: break-word;
}

#u119_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 556px;
    height: 357px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u119 {
    position: absolute;
    left: 1328px;
    top: 79px;
    width: 556px;
    height: 357px;
}

#u120 {
    position: absolute;
    left: 2px;
    top: 170px;
    width: 552px;
    visibility: hidden;
    word-wrap: break-word;
}

#u121_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 528px;
    height: 268px;
}

#u121 {
    position: absolute;
    left: 1341px;
    top: 138px;
    width: 528px;
    height: 268px;
}

#u122 {
    position: absolute;
    left: 2px;
    top: 126px;
    width: 524px;
    visibility: hidden;
    word-wrap: break-word;
}

#u123_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 231px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u123 {
    position: absolute;
    left: 1346px;
    top: 91px;
    width: 231px;
    height: 30px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u124 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 231px;
    word-wrap: break-word;
}

#u125_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 237px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

#u125 {
    position: absolute;
    left: 701px;
    top: 710px;
    width: 237px;
    height: 19px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

#u126 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 237px;
    word-wrap: break-word;
}

#u127_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u127 {
    position: absolute;
    left: 675px;
    top: 661px;
    width: 75px;
    height: 18px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u128 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u129_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    height: 33px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u129 {
    position: absolute;
    left: 1173px;
    top: 557px;
    width: 93px;
    height: 33px;
}

#u130 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 89px;
    word-wrap: break-word;
}

#u131_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 197px;
    height: 138px;
}

#u131 {
    position: absolute;
    left: 24px;
    top: 598px;
    width: 197px;
    height: 138px;
}

#u132 {
    position: absolute;
    left: 2px;
    top: 61px;
    width: 193px;
    visibility: hidden;
    word-wrap: break-word;
}

#u133_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 197px;
    height: 138px;
}

#u133 {
    position: absolute;
    left: 273px;
    top: 598px;
    width: 197px;
    height: 138px;
}

#u134 {
    position: absolute;
    left: 2px;
    top: 61px;
    width: 193px;
    visibility: hidden;
    word-wrap: break-word;
}

#u135_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 197px;
    height: 138px;
}

#u135 {
    position: absolute;
    left: 273px;
    top: 759px;
    width: 197px;
    height: 138px;
}

#u136 {
    position: absolute;
    left: 2px;
    top: 61px;
    width: 193px;
    visibility: hidden;
    word-wrap: break-word;
}

#u137_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 197px;
    height: 138px;
}

#u137 {
    position: absolute;
    left: 24px;
    top: 756px;
    width: 197px;
    height: 138px;
}

#u138 {
    position: absolute;
    left: 2px;
    top: 61px;
    width: 193px;
    visibility: hidden;
    word-wrap: break-word;
}

#u139_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 569px;
    height: 2px;
}

#u139 {
    position: absolute;
    left: 1322px;
    top: 469px;
    width: 568px;
    height: 1px;
}

#u140 {
    position: absolute;
    left: 2px;
    top: -8px;
    width: 564px;
    visibility: hidden;
    word-wrap: break-word;
}

#u141_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 121px;
    height: 24px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u141 {
    position: absolute;
    left: 1327px;
    top: 480px;
    width: 121px;
    height: 24px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#u142 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 121px;
    white-space: nowrap;
}

#u143_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u143 {
    position: absolute;
    left: 1329px;
    top: 525px;
    width: 91px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u144 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u145_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 17px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u145 {
    position: absolute;
    left: 1479px;
    top: 528px;
    width: 17px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u146 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 17px;
    white-space: nowrap;
}

#u147_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u147 {
    position: absolute;
    left: 1329px;
    top: 561px;
    width: 91px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u148 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u149_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u149 {
    position: absolute;
    left: 1464px;
    top: 566px;
    width: 75px;
    height: 18px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u150 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u151 {
    position: absolute;
    left: 1353px;
    top: 716px;
    width: 281px;
    height: 164px;
}

#u152_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 69px;
    height: 27px;
}

#u152 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 69px;
    height: 27px;
}

#u153 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 65px;
    visibility: hidden;
    word-wrap: break-word;
}

#u154_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 27px;
}

#u154 {
    position: absolute;
    left: 69px;
    top: 0px;
    width: 80px;
    height: 27px;
}

#u155 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 76px;
    word-wrap: break-word;
}

#u156_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    height: 27px;
}

#u156 {
    position: absolute;
    left: 149px;
    top: 0px;
    width: 85px;
    height: 27px;
}

#u157 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 81px;
    word-wrap: break-word;
}

#u158_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 83px;
    height: 27px;
}

#u158 {
    position: absolute;
    left: 234px;
    top: 0px;
    width: 83px;
    height: 27px;
}

#u159 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 79px;
    word-wrap: break-word;
}

#u160_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 69px;
    height: 33px;
}

#u160 {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 69px;
    height: 33px;
}

#u161 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 65px;
    word-wrap: break-word;
}

#u162_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 33px;
}

#u162 {
    position: absolute;
    left: 69px;
    top: 27px;
    width: 80px;
    height: 33px;
    color: #009900;
}

#u163 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 76px;
    word-wrap: break-word;
}

#u164_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    height: 33px;
}

#u164 {
    position: absolute;
    left: 149px;
    top: 27px;
    width: 85px;
    height: 33px;
    color: #FF0000;
}

#u165 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 81px;
    word-wrap: break-word;
}

#u166_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 83px;
    height: 33px;
}

#u166 {
    position: absolute;
    left: 234px;
    top: 27px;
    width: 83px;
    height: 33px;
    color: #008000;
}

#u167 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 79px;
    word-wrap: break-word;
}

#u168_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 69px;
    height: 33px;
}

#u168 {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 69px;
    height: 33px;
}

#u169 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 65px;
    word-wrap: break-word;
}

#u170_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 33px;
}

#u170 {
    position: absolute;
    left: 69px;
    top: 60px;
    width: 80px;
    height: 33px;
    color: #009900;
}

#u171 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 76px;
    word-wrap: break-word;
}

#u172_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    height: 33px;
}

#u172 {
    position: absolute;
    left: 149px;
    top: 60px;
    width: 85px;
    height: 33px;
    color: #FF0000;
}

#u173 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 81px;
    word-wrap: break-word;
}

#u174_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 83px;
    height: 33px;
}

#u174 {
    position: absolute;
    left: 234px;
    top: 60px;
    width: 83px;
    height: 33px;
    color: #008000;
}

#u175 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 79px;
    word-wrap: break-word;
}

#u176_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 69px;
    height: 33px;
}

#u176 {
    position: absolute;
    left: 0px;
    top: 93px;
    width: 69px;
    height: 33px;
}

#u177 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 65px;
    word-wrap: break-word;
}

#u178_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 33px;
}

#u178 {
    position: absolute;
    left: 69px;
    top: 93px;
    width: 80px;
    height: 33px;
    color: #009900;
}

#u179 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 76px;
    word-wrap: break-word;
}

#u180_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    height: 33px;
}

#u180 {
    position: absolute;
    left: 149px;
    top: 93px;
    width: 85px;
    height: 33px;
    color: #008000;
}

#u181 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 81px;
    word-wrap: break-word;
}

#u182_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 83px;
    height: 33px;
}

#u182 {
    position: absolute;
    left: 234px;
    top: 93px;
    width: 83px;
    height: 33px;
    color: #008000;
}

#u183 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 79px;
    word-wrap: break-word;
}

#u184_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 69px;
    height: 33px;
}

#u184 {
    position: absolute;
    left: 0px;
    top: 126px;
    width: 69px;
    height: 33px;
}

#u185 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 65px;
    word-wrap: break-word;
}

#u186_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 33px;
}

#u186 {
    position: absolute;
    left: 69px;
    top: 126px;
    width: 80px;
    height: 33px;
    color: #009900;
}

#u187 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 76px;
    word-wrap: break-word;
}

#u188_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    height: 33px;
}

#u188 {
    position: absolute;
    left: 149px;
    top: 126px;
    width: 85px;
    height: 33px;
    color: #008000;
}

#u189 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 81px;
    word-wrap: break-word;
}

#u190_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 83px;
    height: 33px;
}

#u190 {
    position: absolute;
    left: 234px;
    top: 126px;
    width: 83px;
    height: 33px;
    color: #008000;
}

#u191 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 79px;
    word-wrap: break-word;
}

#u192_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 237px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

#u192 {
    position: absolute;
    left: 1465px;
    top: 686px;
    width: 237px;
    height: 19px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

#u193 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 237px;
    word-wrap: break-word;
}

#u194_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u194 {
    position: absolute;
    left: 1329px;
    top: 596px;
    width: 91px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u195 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u196_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 30px;
}

#u196 {
    position: absolute;
    left: 1459px;
    top: 593px;
    width: 20px;
    height: 30px;
}

#u197 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 16px;
    visibility: hidden;
    word-wrap: break-word;
}

#u198_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u198 {
    position: absolute;
    left: 1488px;
    top: 603px;
    width: 9px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u199 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    white-space: nowrap;
}

#u200_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 19px;
    height: 29px;
}

#u200 {
    position: absolute;
    left: 1531px;
    top: 593px;
    width: 19px;
    height: 29px;
}

#u201 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 15px;
    visibility: hidden;
    word-wrap: break-word;
}

#u202_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u202 {
    position: absolute;
    left: 1567px;
    top: 600px;
    width: 9px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u203 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    white-space: nowrap;
}

#u204_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 17px;
    height: 22px;
}

#u204 {
    position: absolute;
    left: 1715px;
    top: 601px;
    width: 17px;
    height: 22px;
}

#u205 {
    position: absolute;
    left: 2px;
    top: 3px;
    width: 13px;
    visibility: hidden;
    word-wrap: break-word;
}

#u206_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u206 {
    position: absolute;
    left: 1652px;
    top: 605px;
    width: 9px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u207 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    white-space: nowrap;
}

#u208_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 29px;
}

#u208 {
    position: absolute;
    left: 1800px;
    top: 596px;
    width: 32px;
    height: 29px;
}

#u209 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 28px;
    visibility: hidden;
    word-wrap: break-word;
}

#u210_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 27px;
}

#u210 {
    position: absolute;
    left: 1624px;
    top: 597px;
    width: 18px;
    height: 27px;
}

#u211 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 14px;
    visibility: hidden;
    word-wrap: break-word;
}

#u212_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u212 {
    position: absolute;
    left: 1739px;
    top: 604px;
    width: 9px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u213 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    white-space: nowrap;
}

#u214_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u214 {
    position: absolute;
    left: 1834px;
    top: 604px;
    width: 9px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FF0000;
}

#u215 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9px;
    white-space: nowrap;
}

#u216_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u216 {
    position: absolute;
    left: 1433px;
    top: 634px;
    width: 81px;
    height: 16px;
}

#u217 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u218_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u218 {
    position: absolute;
    left: 1526px;
    top: 634px;
    width: 51px;
    height: 16px;
}

#u219 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    white-space: nowrap;
}

#u220_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u220 {
    position: absolute;
    left: 1609px;
    top: 635px;
    width: 51px;
    height: 16px;
}

#u221 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    white-space: nowrap;
}

#u222_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 131px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

#u222 {
    position: absolute;
    left: 1664px;
    top: 635px;
    width: 131px;
    height: 23px;
    text-align: center;
}

#u223 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 131px;
    word-wrap: break-word;
}

#u224_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 84px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
}

#u224 {
    position: absolute;
    left: 1774px;
    top: 632px;
    width: 84px;
    height: 23px;
    font-size: 16px;
    text-align: center;
}

#u225 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 84px;
    word-wrap: break-word;
}

#u226 {
    position: absolute;
    left: 1670px;
    top: 716px;
    width: 162px;
    height: 164px;
}

#u227_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 82px;
    height: 27px;
}

#u227 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 82px;
    height: 27px;
}

#u228 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 78px;
    word-wrap: break-word;
}

#u229_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 27px;
}

#u229 {
    position: absolute;
    left: 82px;
    top: 0px;
    width: 75px;
    height: 27px;
}

#u230 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 71px;
    word-wrap: break-word;
}

#u231_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 82px;
    height: 33px;
}

#u231 {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 82px;
    height: 33px;
    color: #008000;
}

#u232 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 78px;
    word-wrap: break-word;
}

#u233_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 33px;
}

#u233 {
    position: absolute;
    left: 82px;
    top: 27px;
    width: 75px;
    height: 33px;
    color: #FF0000;
}

#u234 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 71px;
    word-wrap: break-word;
}

#u235_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 82px;
    height: 33px;
}

#u235 {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 82px;
    height: 33px;
}

#u236 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 78px;
    word-wrap: break-word;
}

#u237_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 33px;
}

#u237 {
    position: absolute;
    left: 82px;
    top: 60px;
    width: 75px;
    height: 33px;
    color: #009900;
}

#u238 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 71px;
    word-wrap: break-word;
}

#u239_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 82px;
    height: 33px;
}

#u239 {
    position: absolute;
    left: 0px;
    top: 93px;
    width: 82px;
    height: 33px;
    color: #008000;
}

#u240 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 78px;
    word-wrap: break-word;
}

#u241_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 33px;
}

#u241 {
    position: absolute;
    left: 82px;
    top: 93px;
    width: 75px;
    height: 33px;
    color: #008000;
}

#u242 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 71px;
    word-wrap: break-word;
}

#u243_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 82px;
    height: 33px;
}

#u243 {
    position: absolute;
    left: 0px;
    top: 126px;
    width: 82px;
    height: 33px;
    color: #008000;
}

#u244 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 78px;
    word-wrap: break-word;
}

#u245_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 33px;
}

#u245 {
    position: absolute;
    left: 82px;
    top: 126px;
    width: 75px;
    height: 33px;
    color: #008000;
}

#u246 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 71px;
    word-wrap: break-word;
}

#u247 {
    position: absolute;
    left: 773px;
    top: 92px;
    width: 80px;
    height: 33px;
}

#u247_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 33px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

#u247_input:disabled {
    color: grayText;
}

#u248_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u248 {
    position: absolute;
    left: 174px;
    top: 376px;
    width: 140px;
    height: 40px;
}

#u249 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 136px;
    word-wrap: break-word;
}
