.floor-container, .floor-info, .room-info {
    width: 1250px;
    margin: 0 auto;
    border: 2px solid #696969;
    background: #ffffff;
}

body {
    color: black;
}

.floor-container {
    margin-top: 10px;
    margin-bottom: 5px;
}

span {
    color: black;
}

.floor-container .title {
    margin-bottom: 10px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    background: rgb(244, 244, 244);
    border-bottom: 1px solid #696969;
    text-align: center;
    font-weight: bold;
    font-family: 方正兰亭中粗黑;
}

.floor {
    /*background: url("../img/floor-device.png") no-repeat 20px;*/
    position: relative;
}

.floor div {
    position: absolute;
    z-index: 9999;
    width: 100px;
    height: 100px;
    opacity: 0;
    text-align: center;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.floor div:hover {
    background: rgba(186, 219, 249, 0.8);
    opacity: 1;
}

.floor .bakgrnd {
    padding: 10px;
}

.legend {
    height: 682px;
    width: 150px;
    border: 1px solid #696969;
    margin: 10px;
    text-align: center;
    font-family: 'Times New Roman';
}

.legend .item {
    margin-bottom: 20px;
    font-weight: bold;
}

.air_condition {
    width: 20px;
    height: 40px;
}

.alarm {
    width: 30px;
    height: 30px;
}

.room-info .item, .floor-info .item {
    font-weight: bold;
}

.room-info .item img {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.floor-info h5, .floor-info .item, .room-info h5, .room-info .item {
    padding: 10px;
}

.floor-info .tips {
    display: inline-block;
    width: 220px;
}

.room-info .tips {
    display: inline-block;
    width: 300px;
}

.room-status {
    border-collapse: collapse;
    margin: 15px 100px;
}

.room-status th, .room-status td {
    border: 1px solid #696969;
    width: 100px;
    text-align: center;
    line-height: 30px;
    height: 30px;
}

.room-status img {
    display: inline-block;
    width: 15px;
    height: 20px;
}

.room-status caption {
    margin-bottom: 10px;
}

.floor .user1 {
    width: 197px;
    right: 0px;
    top: 14px;
    height: 185px;
    line-height: 185px;
}

.floor .user2 {
    width: 259px;
    right: 226px;
    top: 242px;
    height: 152px;
    line-height: 152px;
}

.floor .user3 {
    width: 202px;
    right: 422px;
    top: 14px;
    height: 185px;
    line-height: 185px;
}

.floor .user4 {
    width: 264px;
    left: 219px;
    top: 242px;
    height: 155px;
    line-height: 155px;
}

.floor .user5 {
    width: 202px;
    left: 217px;
    top: 14px;
    height: 185px;
    line-height: 185px;
}

.floor .user6 {
    width: 207px;
    left: 11px;
    top: 35px;
    height: 162px;
    line-height: 162px
}

.floor .user7 {
    width: 213px;
    left: 11px;
    top: 245px;
    height: 419px;
    line-height: 419px
}

.floor .user8 {
    width: 196px;
    left: 224px;
    top: 435px;
    height: 252px;
    line-height: 252px;
}

.floor .user9 {
    width: 196px;
    left: 420px;
    top: 435px;
    height: 252px;
    line-height: 252px;
}

.floor .user10 {
    width: 196px;
    left: 616px;
    top: 435px;
    height: 252px;
    line-height: 252px;
}

button {
    cursor: pointer;
    width: 114px;
    height: 30px;
    font-weight: bold;
}

button:hover {
    background-color: #D1D1D1;
}

a:link {
    text-decoration: none;
}

li a {
    color: black;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right
}

.strong {
    font-weight: bold;
}

.red {
    color: red
}

.green {
    color: green
}

.yellow {
    color: orange
}
#region{
    position: absolute;
    left: 25px;
    top:150px;
    height: 40px;
    width: 100px;
}
#chart1 {
    position: absolute;
    left: 25px;
    top: 595px;
    background: #ffffff;
    height: 140px;
    width: 200px;
}

#chart2 {
    position: absolute;
    left: 275px;
    top: 595px;
    background: #ffffff;
    height: 140px;
    width: 200px;
}

#chart3 {
    position: absolute;
    left: 25px;
    top: 755px;
    background: #ffffff;
    height: 140px;
    width: 200px;
}

#chart4 {
    position: absolute;
    left: 275px;
    top: 755px;
    background: #ffffff;
    height: 140px;
    width: 200px;
}

.canvasjs-chart-credit {
    display: none;
}

.apartmentNO {
    text-align: center;
}

#apartmentRoom1 {
    position: absolute;
    left: 910px;
    top: 180px;
    height: 50px;
    width: 50px;
}

#apartmentRoom2 {
    position: absolute;
    left: 878px;
    top: 295px;
    height: 20px;
    width: 50px;
}

#apartmentRoom3 {
    position: absolute;
    left: 790px;
    top: 180px;
    height: 20px;
    width: 50px;
}

#apartmentRoom4 {
    position: absolute;
    left: 692px;
    top: 300px;
    height: 30px;
    width: 50px;
}

#apartmentRoom5 {
    position: absolute;
    left: 682px;
    top: 180px;
    height: 20px;
    width: 50px;
}

#apartmentRoom6 {
    position: absolute;
    left: 580px;
    top: 180px;
    height: 20px;
    width: 50px;
}

#apartmentRoom7 {
    position: absolute;
    left: 580px;
    top: 380px;
    height: 50px;
    width: 50px;
}

#apartmentRoom8 {
    position: absolute;
    left: 693px;
    top: 435px;
    height: 20px;
    width: 50px;
}

#apartmentRoom9 {
    position: absolute;
    left: 800px;
    top: 435px;
    height: 50px;
    width: 50px;
}

#apartmentRoom10 {
    position: absolute;
    left: 910px;
    top: 435px;
    height: 20px;
    width: 50px;
}

.parkingArea {
    position: absolute;
    left: 520px;
    top: 80px;
    background: #FFFFFF;
    height: 820px;
    width: 1367px;
    display: none;
}

.parkingImg {
    position: absolute;
    left: 200px;
    top: 150px;
    background: #FFFFFF;

}

.parkingImg img {
    width: 900px;
    height: 500px;
}

.parkingAreaPosition {
    position: absolute;
    left: 300px;
    top: 10px;
    width: 600px;
    height: 80px;
    font-size: x-large;
    color: black;
}

.parkingFloorPosition {
    position: absolute;
    left: 110px;
    top: 320px;
    width: 100px;
    height: 80px;
    font-size: x-large;
    color: black;
}

.set-center {
    text-align: center;
}

.blue {
    color: black;
    background: #337ab7;
}

.parkingFloorText {
    position: absolute;
    left: 20px;
    top: 340px;
    width: 40px;
    height: 250px;
    display: block;
    background: #337ab7;
    font-size: xx-large;
}

.parking {
    position: absolute;
    top: 210px;
    width: 40px;
    font-size: 10px;
}

#parking1 {
    left: 320px;
}

#parking2 {
    left: 370px;
}

#parking3 {
    left: 415px;
}

#parking4 {
    left: 460px;
}

#parking5 {
    left: 505px;
}

#parking6 {
    left: 550px;
}

#parking7 {
    left: 595px;
}

#parking8 {
    left: 640px;
}

#parking9 {
    left: 685px;
}

#parking10 {
    left: 730px;
}

#parking11 {

    left: 775px;

}

#parking12 {
    left: 820px;
}

#parking13 {
    left: 865px;
}

#parking14 {
    left: 910px;
}

#parking15 {
    left: 955px;
}

#parking16 {
    left: 1000px;
}

.parkingFloor2 {
    position: absolute;
    left: 982px;

    width: 40px;
    font-size: 10px;
}

#parking17 {
    top: 335px;
}

#parking18 {
    top: 395px
}

.parkingFloor3 {
    position: absolute;
    top: 560px;
    width: 40px;
    font-size: 10px;
}

#parking19 {
    left: 1000px;

}

#parking20 {
    left: 945px;
}

#parking21 {
    left: 890px;
}

#parking22 {
    left: 840px;
}

#parking23 {
    left: 790px;
}

#parking24 {
    left: 740px;
}

#parking25 {
    left: 692px;
}

#parking26 {
    left: 645px;
}

#parking27 {
    left: 595px;
}

#parking28 {
    left: 548px;
}

#parking29 {
    left: 500px;
}

#parking30 {
    left: 450px;
}

#parking31 {
    left: 405px;
}

#parking32 {
    left: 355px;
}

#parking33 {
    left: 308px;
}

#parkingStatistics {
    position: absolute;
    left: 1055px;
    top: 168px;
    width: 300px;
    height: 470px;
    font-size: x-large;
}

#parkingLabel {
    position: absolute;
    left: 20px;
    top: 70px;
    width: 250px;
    height: 50px;
    font-size: xx-large;
}

#machineCount {
    position: absolute;
    left: 20px;
    top: 150px;
    width: 250px;
    height: 50px;
    font-size: x-large;
}

#machineCount img {
    width: 40px;
    height: 20px;
}

#parkingCountLabel {
    position: absolute;
    left: 20px;
    top: 210px;
    width: 250px;
    height: 50px;
    font-size: x-large;
}

#parkingUnUsedLabel {
    position: absolute;
    left: 20px;
    top: 270px;
    width: 250px;
    height: 50px;
    font-size: x-large;
}

#parkingStatusLabel {
    position: absolute;
    left: 20px;
    top: 330px;
    width: 250px;
    height: 50px;
    font-size: x-large;
}

#lightSensorDisplay{
    position: absolute;
    left: 1445px;
    top: 660px;
    width: 50px;
    height: 150px;
}
#lightStatusDisplay{
    position: absolute;
    left: 1525px;
    top: 660px;
    width: 50px;
    height: 150px;
}
#airConditionStatusDisplay{
    position: absolute;
    left: 1615px;
    top: 660px;
    width: 50px;
    height: 150px;

}
#temperatureSensorDisplay{
    position: absolute;
    left: 1705px;
    top: 660px;
    width: 50px;
    height: 150px;

}








































